<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <div class="center-align">
                    <i data-ng-hide="perfilVm.AppService.getUser().avatar" class="material-icons" style="font-size: 10rem; padding-bottom: 3rem">person_pin</i>
                    <img id="user.avatar" data-ng-show="perfilVm.AppService.getUser().avatar" src="{{perfilVm.st.User.avatar}}" alt="">
                </div>                
                <span 
                    class="card-title" 
                    style="background-color: 
                    black; color: 
                    white; 
                    opacity: 0.3; 
                    padding: 0.5rem 1rem; 
                    width: 100%;"
                    ng-bind="perfilVm.AppService.getUser().nome">                    
                </span>
            </div>
            <div class="card-content">
                <p>
                    <strong>Email: </strong> <span ng-bind="perfilVm.AppService.getUser().email"></span>
                </p>
                <p>
                    <strong>Data de Nascimento: </strong> <span ng-bind="perfilVm.AppService.getUser().dataNascimento"></span>
                </p>
                <p>
                    <strong>Postagens: </strong> <span ng-bind="perfilVm.AppService.getUser().postagens"></span>
                </p>
                <p>
                    <strong>Você Segue: </strong> <span ng-bind="perfilVm.AppService.getUser().seguidos.length"></span>
                </p>
                <p>
                    <strong>Seguidores: </strong> <span ng-bind="perfilVm.AppService.getUser().seguidores.length"></span>
                </p>
            </div>            
            <div class="card-action right-align perfil-action-buttons">
                <input type="file" id="perfil-arquivo-input" name="file" ng-files="perfilVm.uploadImagem($files[0])" hidden />
                <i id="upload-button" class="material-icons">add_a_photo</i>
                <i class="material-icons" ng-click="postVm.mostrarNovaPostagem = true">note_add</i>
                <i class="material-icons" ng-click="perfilVm.logout()">power_settings_new</i>
            </div>
        </div>
    </div>
</div>